@use 'sass:color';
@use "../theme/default-theme.scss";
@use '@material/theme/theme-color';

// Note that importing like this is not actually documented. `core-styles` does not exist.
@use '@material/icon-button/mdc-icon-button';
@use '@material/icon-button/icon-button-theme';

// Prevent pointer giving focus inside.
.mdc-icon-button svg {
  pointer-events: none;
}

button.mdc-icon-button {
  border-radius: 50%;
  transition: background-color, color 0.2s ease;
}

button.mdc-icon-button[aria-pressed="true"] {
  background-color: theme-color.$primary;
  color: theme-color.$on-primary;
}
